{% extends "polytechnicien/base.html" %}
{% load static %}

{% block title %}Accueil | Polytec App{% endblock %}

{% block hero %}
<div class="hero-image">
    <div class="hero-text">
        <h1>Bienvenue sur Artunis</h1>
        <p>Votre plateforme pour gérer vos produits</p>
        <a href="{% url 'produits' %}" class="hero-btn">Voir mes produits</a>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h3 class="text-center mb-4" style="color: rgb(107, 67, 45);">Statistiques</h3>
    <div class="row text-center" style="color: rgb(107, 67, 45);">
        <div class="col-md-4">
            <div class="stats-box" style="border-color: rgb(107, 67, 45);">
                <h4>Total des produits textiles</h4>
                <p class="stats" style="color: rgb(107, 67, 45);">{{ total_textiles }}</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="stats-box" style="border-color: rgb(107, 67, 45);">
                <h4>Total des produits</h4>
                <p class="stats" style="color: rgb(107, 67, 45);">{{ total_products }}</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="stats-box" style="border-color: rgb(107, 67, 45);">
                <h4>Total des produits de bijoux</h4>
                <p class="stats" style="color: rgb(107, 67, 45);">{{ total_bijoux }}</p>
            </div>
        </div>
    </div>
</div>


    <h3 class="text-center mt-5">Derniers Produits</h3>
    <div class="row">
        {% for produit in produits %}
        <div class="col-md-4 mb-4">
            <div class="card h-100 border-success product-card">
                <img src="{{ produit.image.url }}" class="card-img-top" alt="{{ produit.name }}">
                <div class="card-body">
                    <h6 class="card-title">{{ produit.name }}</h6>
                </div>
            </div>
        </div>
 

   
            <div class="modal fade" id="editProductModal{{ produit.id }}" tabindex="-1" aria-labelledby="editProductModalLabel{{ produit.id }}" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editProductModalLabel{{ produit.id }}">{{ produit.name }}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
                        </div>
                        <div class="modal-body">
                            <img src="{{ produit.image.url }}" alt="{{ produit.name }}" class="img-fluid mb-3">
                            <p><strong>Prix:</strong> {{ produit.price }} DT</p>
                            <p><strong>Catégorie:</strong> {{ produit.get_category_display }}</p>
                            <p><strong>Description:</strong> {{ produit.description }}</p>
                        </div>
                    </div>
                </div>
            </div>

        {% empty %}
            <div class="col-12">
                <p class="text-center">Aucun produit disponible actuellement.</p>
            </div>
        {% endfor %}
    </div>


    <div class="mt-5 position-relative">
        <img src="{% static 'images/imageBack.JPG' %}" alt="Illustration Chiffres" class="img-fluid w-100" />
        <div class="overlay-text">
            <h2>Artunis</h2>
            <p>We don't just sell products, we sell stories ... </p>
        </div>
    </div>
</div>
{% endblock %}